{% load static %}
{% include 'User/head.html' %}
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title"><b>User Profiles</b></h3>
					<div id="toastr-demo" class="panel">
						<div class="panel-body">
							<div class="col text-right mb-2">
								<a href="adduser" class="btn btn-light" ><i class="lnr lnr-plus-circle"></i></a>
							</div>
							<!-- CONTEXTUAL -->
							<div class="table-responsive">
								<table id="example" class="display nowrap" style="width:100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Image</th>
											<th>Full name</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Designation</th>
											<th>Project</th>
										
                                            <th>Points</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										
											{% for da in data %}
											{% if da.id == request.user.id %}
											{% else %}
											<tr>
												<td>{{ da.id }}</td>
												{% if da.user_image %}
												<td><img src="media/{{ da.user_image }}" class="rounded-circle" height="40" width="40" ></td>
												{% else %}
												<td><img src="media/images/contact/noimage.png" class="rounded-circle" height="40" width="40" ></td>
												{% endif %}
												<td>{{ da.first_name }} {{ da.last_name  }}</td>
												<td>{{ da.user_email }}</td>
												<td>{{ da.user_phone }}</td>
												<td>{{ da.designation }}</td>
												<td>{{ da.project }}</td>
									
                                                <td>{{ da.points }}</td>
												<td>
													<a class="link" href="edituserprofile/{{ da.id }}">
														<span class="lnr lnr-pencil text-success"></span>		
													</a>
													<a class="link" onclick="return confirm('Are you sure you want to delete this User ?');" href="deleteuser/{{ da.userid.id }}">
														<span class="lnr lnr-trash text-danger"></span>
													</a>
												</td>
											</tr>
											{% endif %}
											{% endfor %}
									
										

									</tbody>
								</table>
							</div>

					
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>


		{% include 'User/foot2.html' %}
