{% load static %}
{% include 'User/head.html' %}



<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title"><b>Calander</b></h3>
            <div id="toastr-demo" class="panel">
                <div class="panel-body">
               
                    <div id="calendar"></div>
        
            
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>




{% include 'User/foot2.html' %}