{% load static %}
{% include 'User/head.html' %}


<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid card" style="background-color: white;">
            <h3 class="bg-light p-2">Edit Product</h3>
                <div class="container-fluid">
                    <form method = "post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row">
                        <input type="hidden" name="addedby" value="{{ data.addedby.value }}"" >
                    
                        <div class="col-sm">
                            <h5>Product Details</h5>
                            <hr>
                            {{ form.errors.name }}
                                <div class="form-group">
                                    <label for="productimage">Product Image</label>
                                    <input type="file" class="form-control dropify" name="product_image" id="productimage" >
                                </div>
                                <div class="form-group">
                                  <label for="product_name">Product Name</label>
                                  <input type="text" class="form-control" name="product_name" value="{{ data.product_name.value }}" id="product_name" placeholder="Product Name">
                                </div>
                                <div class="form-group">
                                  <label for="productcategory">Product Category</label>
                                  <select class="form-control form-control-lg" name="product_category" id="product_category">
                                    {% for op in opt %}
                                        <option value="{{ op }}" {% if op == data.product_category.value %}selected{% endif %}>{{ op }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                <label for="email">Product Dimensions</label>
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="height" value="{{ data.height.value }}" id="height" placeholder="Height (in cm)">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="width" value="{{ data.width.value }}" id="width" placeholder="Width (in cm)">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label for="product_weight">Product Weight</label>
                                    <input type="number" class="form-control" name="product_weight" value="{{ data.product_weight.value }}" id="product_weight" placeholder="Weight (in kg)">
                                </div>
                                <div class="form-group">
                                    <label for="product_color">Product Color</label>
                                    <input type="text" class="form-control" name="product_color" value="{{ data.product_color.value }}" id="product_color" placeholder="Product Color">
                                </div>
                                <div class="form-group">
                                    <label for="product_description">Product Description</label>
                                    <input type="text" class="form-control" name="product_description" value="{{ data.product_description.value }}" id="product_description" placeholder="Product Description">
                                </div>
                                <div class="form-group">
                                    <label for="product_price">Product Price</label>
                                    <input type="number" class="form-control" name="product_price" value="{{ data.product_price.value }}" id="product_price" placeholder="Product Price (&#8377;)">
                                </div>
                                
                                
                                
                        </div>
                        <div class="col-sm">
                            <h5>Manufacture Details</h5>
                            <hr>
                                <div class="form-group">
                                  <label for="manufacture">Product Manufacturer</label>
                                  <input type="text" class="form-control" name="product_manufacture" value="{{ data.product_manufacture.value }}" id="product_manufacture" placeholder="Product Manufacturer">
                                </div>
                                <div class="form-group">
                                  <label for="expirydate">Product Expiry</label>
                                  <input type="date" class="form-control" name="expirydate" value="" id="expirydate">
                                </div>
                                <div class="form-group">
                                    <label for="manufacture_price">Manufacture Price</label>
                                    <input type="number" class="form-control" name="manufacture_price" value="{{ data.manufacture_price.value }}" id="manufacture_price" placeholder="Manufacture Price (&#8377;)">
                                </div> 
                                <div class="form-group">
                                    <label for="product_code">Product Code</label>
                                    <input type="text" class="form-control" name="product_code" value="{{ data.product_code.value }}" id="product_code" placeholder="Product Code">
                                </div>       
                                <br>
                                <h5 class="">Gurantee Details</h5>
                                <hr>
                                <div class="row" style="margin-top:-15px;">
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="product_warranty">Product Warranty</label>
                                            <input type="number" class="form-control" name="product_warranty" value="{{ data.product_warranty.value }}" id="product_warranty" placeholder="Product Warranty (in months)">
                                        </div>
                                        <div class="form-group">
                                            <label for="query_contact">Product Query Contact</label>
                                            <input type="number" class="form-control" name="query_contact" value="{{ data.query_contact.value }}" id="query_contact" placeholder="Product Query Contact">
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-group">
                                            <label for="product_gurantee">Product Gurntee</label>
                                            <input type="number" class="form-control" name="product_gurantee" value="{{ data.product_gurantee.value }}" id="product_gurantee" placeholder="Product Gurantee (in months)">
                                        </div>
                                        <div class="form-group">
                                            <label for="query_email">Product Query Email</label>
                                            <input type="email" class="form-control" name="query_email" value="{{ data.query_email.value }}" id="query_email" placeholder="Product Query Email">
                                        </div>
                                    </div>
                                </div>

                        </div>
                    
                    </div>
                    <div class="row justify-content-end">
                        <button type="submit" class="btn btn-secondary m-1">SAVE</button>
                    </div>
                    <br>
                </form>

                </div>
        </div>
    </div>
</div>

<script>
    dateformatvalue("{{ data.expirydate.value }}", "expirydate");
</script>

{% include 'User/foot2.html' %}