{% load static %}
{% include 'User/head.html' %}
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title"><b>Contracts</b></h3>
					<div id="toastr-demo" class="panel">
						<div class="panel-body">
							<div class="col text-right mb-2">
								<a href="addcontract" class="btn btn-light" ><i class="lnr lnr-plus-circle"></i></a>
							</div>
							<!-- CONTEXTUAL -->
							<div class="table-responsive">
								<table id="example" class="display nowrap" style="width:100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Attachment</th>
											<th>Customer</th>
											<th>Subject</th>
											<th>Contract Value</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Description</th>
											<th>Addeb by</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										
											{% for da in data %}
											<tr>
												<td>{{ da.id }}</td>
												{% if da.attachment %}
													<td><a href="media/{{ da.attachment }}" download>Attachment</a></td>
												{% else %}
													<td><label>No Attachment</label></td>
												{% endif %}
												<td>{{ da.customer.full_name }} - {{ da.customer.company_name }}</td>
												<td>{{ da.subject }}</td>
												<td>{{ da.contract_value }}</td>
												<td>{{ da.start_date }}</td>
												<td>{{ da.end_date }}</td>
												<td>{{ da.description }}</td>
												<td>{{ da.addedby }}</td>
												<td>
													<a class="link" href="editcontract/{{ da.id }}">
														<span class="lnr lnr-pencil text-success"></span>		
													</a>
													<a class="link" onclick="return confirm('Are you sure you want to delete this Contract ?');" href="deletecontract/{{ da.id }}">
														<span class="lnr lnr-trash text-danger"></span>
													</a>
												</td>
											</tr>
											{% endfor %}
									
										

									</tbody>
								</table>
							</div>

					
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>


		{% include 'User/foot2.html' %}
