{% load qr_code %}
{% load static %}
{% include 'User/head.html' %}


	<div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="panel panel-profile">
                    <div class="clearfix panel">
                        <!-- LEFT COLUMN -->
                        <div class="profile-left">
                            <!-- PROFILE HEADER -->
                            <div class="profile-header">
                                <div class="overlay"></div>
                                <div class="profile-main">
                                    {% if data.user_image %}
                                    <img src="media/{{ data.user_image }}" class="img-circle" alt="Avatar" height="60">
                                    {% else %}
                                    <img src="media/images/contact/noimage.png" class="img-circle" alt="Avatar" height="60">
                                    {% endif %}
                                    <h3 class="name">{{ data.first_name }} {{ data.last_name }}  ( {{ data.gender }} )</h3>
                                    <span class="online-status status-available">{{ request.user.username }}</span>
                                </div>
                                <div class="profile-stat">
                                    
                                    {% if request.user.is_staff %}
                                    {% else %}
                                    <div class="row">
                                        <div class="col-md-4 stat-item">
                                            45 <span>Projects</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            15 <span>Awards</span>
                                        </div>
                                        <div class="col-md-4 stat-item">
                                            {{ data.points }} <span>Points</span>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            
                            <!-- END PROFILE HEADER -->
                            <!-- PROFILE DETAIL -->
                            <div class="panel profile-detail">
                                <div class="profile-info">
                                    <h4 class="heading">Basic Info  </h4>
                                    <ul class="list-unstyled list-justify">
                                        <li>Birthdate <span>{{ data.dob }}</span></li>
                                        <li>Phone <span>{{ data.user_phone }}</span></li>
                                        <li>Email <span>{{ request.user.email }}</span></li>
                                        <li>Date Joined <span>{{ request.user.date_joined }}</span></li>
                                        <li>Last Updated <span>{{ data.updated_at }}</span></li>
                                    </ul>
                                </div>

                                <div class="profile-info">
                                    <h4 class="heading">About</h4>
                                    <p>{{ data.about }}</p>
                                </div>
                                <div class="text-center"><a href="editprofile" class="btn btn-primary">Edit Profile</a></div>
                            </div>
                            <!-- END PROFILE DETAIL -->
                        </div>
                        <!-- END LEFT COLUMN -->
                        <!-- RIGHT COLUMN -->
                        <div class="profile-right">

                            
                            
                            <!-- END AWARDS -->
                            <!-- TABBED CONTENT -->
                            <div class="custom-tabs-line tabs-line-bottom left-aligned">
                                <ul class="nav" role="tablist">
                                    <li class="active"><a href="#tab-bottom-left1" role="tab" data-toggle="tab">Personal Details</a></li>
                                    <li><a href="#tab-bottom-left2" role="tab" data-toggle="tab">Social Details </a></li>
                                </ul>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-bottom-left1">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="list-unstyled activity-timeline">
                                                <li>
                                                    <i class="fa fa-comment activity-icon"></i>
                                                    <p>Address Details :  <a href="#">{{ data.address }}</a> </p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-cloud-upload activity-icon"></i>
                                                    <p>ID PROOF : <a href="{{ data.id_proof }}" download="">Attachment</a> </p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-plus activity-icon"></i>
                                                    <p>DESIGNATION : <a href="#">{{ data.designation }}</a> </p>
                                                </li>
                                                <li>
                                                    <i class="fa fa-check activity-icon"></i>
                                                    <p>WORKING HOURS :  <a href="#">{{ data.working_from }} - {{ data.working_to }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-6 text-center justify-content-center" id="myqrdiv">
                                                {% qr_from_text profileqr size="5" image_format="png" error_correction="L" %}

                                            </div>
                                            <div class="text-right">
                                                <a href="#" id="downloadbtn" class="btn btn-sm btn-primary" download>Download</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="tab-pane fade" id="tab-bottom-left2">
                                    <div class="profile-info">
                                        <h4 class="heading">Social Links</h4>
                                        <ul class="list-inline social-icons">
                                            <li><a href="{{ data.facebook }}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="{{ data.linkedin }}" target="_blank" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="{{ data.instagram }}" target="_blank" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="{{ data.github }}" target="_blank" class="github-bg"><i class="fa fa-github"></i></a></li>
                                        </ul>
                            
                                    </div>
                                </div>
                            </div>
                            <!-- END TABBED CONTENT -->
                        </div>
                        <!-- END RIGHT COLUMN -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
    </div>


    <script>
        document.getElementById("downloadbtn").href = document.getElementById("myqrdiv").firstElementChild.src;
    </script>

    {% include 'User/foot2.html' %}