{% load static %}
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; 2021 Made with &#x2764; by VIKAS GUPTA</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->

	<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>


	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/jquery-slimscroll/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'scripts/klorofil-common.js' %}"></script>



    <script>

		$(document).ready(function() {



			$('#example').DataTable({
				dom: 'lBfrtip',
				buttons: [
					{
					extend: 'copy',
					className: 'btn btn-sm mr-2',
					},
					{
					extend: 'excel',
					className: 'btn btn-sm mr-2',
					},
					{
					extend: 'print',
					className: 'btn btn-sm mr-2',
					},
				],
			
			
			});


			$("#myalert").fadeTo(2000, 1000).fadeOut(1000);
		
		})
		
			</script>



  







{% if request.get_full_path == "/tasks" %}
<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
{% endif %}




</body>

</html>