{% load static %}
{% include 'User/head.html' %}



		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Quick Overview</h3>
							<p class="panel-subtitle"></p>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-download"></i></span>
										<p>
											<span class="number">{{ countlead }}</span>
											<span class="title">Leads</span>
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-shopping-bag"></i></span>
										<p>
											<span class="number">{{ countcontact }}</span>
											<span class="title">Contact</span>
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
											<span class="number">{{ countproducts }}</span>
											<span class="title">Products</span>
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-bar-chart"></i></span>
										<p>
											<span class="number">{{ countcontracts }}</span>
											<span class="title">Contracts</span>
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-eye"></i></span>
										<p>
											<span class="number">{{ countsales }}</span>
											<span class="title">Sales</span>
										</p>
									</div>
								</div>
								<div class="col-md-2">
									<div class="metric">
										<span class="icon"><i class="fa fa-bar-chart"></i></span>
										<p>
											<span class="number">{{ countdeliveryboy }}</span>
											<span class="title">DeliveryBoy</span>
										</p>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-6">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Recent Contracts</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body no-padding">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>No.</th>
												<th>Customer Name</th>
												<th>Company Name</th>
												<th>Amount</th>
												<th>End Date</th>
											</tr>
										</thead>
										<tbody>
											{% for da in contractdata %}
											<tr>
												<td>{{ da.id }}</td>
												<td>{{ da.customer.full_name }}</td>
												<td>{{ da.customer.company_name }}</td>
												<td>{{ da.contract_value }}</td>
												<td>{{ da.end_date }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 6 contracts</span></div>
										<div class="col-md-6 text-right"><a href="contracts" class="btn btn-primary">View All Contracts</a></div>
									</div>
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>



						<div class="col-md-6">
							<!-- TASKS -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Total Tasks </h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
									<hr>
								</div>
								<div class="panel-body mt-0">
									<ul class="list-unstyled task-list">
										<li>
											<p>Active Task <span class="label-percent">{{ activecount }}%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ activecount }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ activecount }}%">
													<span class="sr-only">{{ activecount }}% </span>
												</div>
											</div>
										</li>
										<li>
											<p>Inactive Task <span class="label-percent">{{ inactivecount }}%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="{{ inactivecount }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ inactivecount }}%">
													<span class="sr-only">{{ inactivecount }}% </span>
												</div>
											</div>
										</li>
										<li>
											<p>Completed Task <span class="label-percent">{{ completecount }}%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ completecount }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ completecount }}%">
													<span class="sr-only">{{ completecount }} %</span>
												</div>
											</div>
										</li>
										<li>
											<p>Pending Task <span class="label-percent">{{ pendingcount }}%</span></p>
											<div class="progress progress-xs">
												<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ pendingcount }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pendingcount }}%">
													<span class="sr-only">{{ pendingcount }}%</span>
												</div>
											</div>
										</li>
										
									</ul>
								</div>
							</div>
							<!-- END TASKS -->
						</div>



					</div>


					{% if perms.shopping.view_logs %}
					<div class="row">
						<div class="col-md-12">
							<!-- TIMELINE -->
							<div class="panel panel-scrolling">
								<div class="panel-heading">
									<h3 class="panel-title">User Activity Logs</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">




									<ul class="list-unstyled activity-list">
										{% for log in logsdata %}
										<li>
											<img src="media/{{ log.profile_id.user_image }}" alt="Avatar" class="img-circle pull-left avatar ">
											<p><b>{{ log.userid }}</b> {{ log.description }} <span class="timestamp">{{ log.created_at }}</span></p>
										</li>
									{% endfor %}

									</ul>
									<a href="logs" class="btn btn-primary btn-sm">View All</a>
								</div>
							</div>
							<!-- END TIMELINE -->
						</div>
					</div>
					{% endif %}


					<div class="row">
					
						<div class="col-md-4">
							<!-- VISIT CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Social Handles</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm">
											<div class="alert ">
												<i class="fa fa-envelope-square text-danger"></i>&emsp; <a href="{{ socialdata.email }}" target="_blank">Email</a>
											</div>
											<div class="alert">
												<i class="fa fa-phone-square text-success"></i>&emsp;
												<a href="tel:{{ socialdata.phone }}" onclick="ga('send', 'event', { eventCategory: 'Contact', eventAction: 'Call', eventLabel: 'Mobile Button'});">Phone</a>

											
											</div>
											<div class="alert">
												<i class="fa fa-linkedin text-primary"></i>&emsp; <a href="{{ socialdata.linkedin }}" target="_blank">Linked In</a>
											</div>
										</div>
										<div class="col-sm">
											
									<div class="alert">
										<i class="fa fa-facebook text-primary"></i>&emsp; <a href="{{ socialdata.facebook }}" target="_blank">Facebook</a>
									</div>
									<div class="alert">
										<i class="fa fa-instagram text-danger"></i>&emsp; <a href="{{ socialdata.instagram }}" target="_blank">Instagram</a>
									</div>
									<div class="alert">
										<i class="fa fa-github text-primary"></i>&emsp; <a href="{{ socialdata.github }}" target="_blank">Github</a>
									</div>
										</div>
									</div>
								
									
								</div>
							</div>
							<!-- END VISIT CHART -->
						</div>
						<div class="col-md-4">
							<!-- REALTIME CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Messanger</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<center>
										<img src="../../../media/chat.png" class="img img-responsive" height="220" width="220">
									</center>
								</div>
							</div>
							<!-- END REALTIME CHART -->
						</div>

						<div class="col-md-4">
							<!-- REALTIME CHART -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Shortcuts</h3>
									<div class="right">
										<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
										<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-sm">
											<div class="alert ">
												<i class="fa fa-plus-square text-danger"></i>&emsp; <a href="addlead" >Add Lead</a>
											</div>
											<div class="alert">
												<i class="fa fa-user-plus text-success"></i>&emsp; <a href="addcontact" >Add Contact</a>
											</div>
											<div class="alert">
												<i class="fa fa-user text-primary"></i>&emsp; <a href="addcontract" >Add Contract</a>
											</div>
										</div>
										<div class="col-sm">
											
									<div class="alert">
										<i class="fa fa-truck text-primary"></i>&emsp; <a href="adddeliveryboy" >Add DeliveryBoy</a>
									</div>
									<div class="alert">
										<i class="fa fa-product-hunt text-danger"></i>&emsp; <a href="addproduct" >Add Products</a>
									</div>
									<div class="alert">
										<i class="fa fa-check-square text-primary"></i>&emsp; <a href="addsale" >Add Sale</a>
									</div>
										</div>
									</div>
								
									
								</div>
							</div>
							<!-- END REALTIME CHART -->
						</div>

						
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>


		{% include 'User/foot2.html' %}




