{% load static %}
{% include 'User/head.html' %}


<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid card" style="background-color: white;">
            <h3 class="bg-light p-2">Add DeliveryBoy</h3>
            
                <div class="container-fluid">
                    <form method = "post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="row">
                    
                        <div class="col-sm">
                            <h5>Person Details</h5>
                            <hr>
                            <input type="hidden" name="addedby" value="{{ request.user.id }}">
                                <div class="form-group">
                                    <label for="user_image">User Image</label>
                                    <input type="file" class="form-control dropify" name="user_image" id="user_image" placeholder="">
                                </div>
                                <div class="form-group">
                                  <label for="full_name">Full Name</label>
                                  <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Full Name" required>
                                </div>
                                
                                <div class="form-group">
                                    <label for="user_email">Email</label>
                                    <input type="email" class="form-control" name="user_email"  id="user_email" placeholder="User Email">
                                </div>
                                <div class="form-group">
                                    <label for="user_phone">Phone</label>
                                    <input type="number" class="form-control" name="user_phone" id="user_phone" placeholder="User Phone">
                                </div>
                                <div class="form-group">
                                    <label for="identity">Identity</label>
                                    <input type="file" class="form-control dropify" name="identity" id="identity" >
                                </div>
                                <div class="form-group">
                                    <label for="user_position">Gender</label>
                                    <select class="form-control form-control-lg" name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="locality">Locality Details</label>
                                    <textarea type="text" class="form-control" name="locality" id="locality" placeholder="Locality details"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="vehicle">Vehicle Details</label>
                                    <textarea type="text" class="form-control" name="vehicle" id="vehicle" placeholder="Vehicle details"></textarea>
                                </div>
                                
                                
                                
                        </div>
                    
                    
                    </div>
                    <div class="row justify-content-end">
                        <button type="submit" class="btn btn-secondary m-1">SAVE</button>
                    </div>
                    <br>
                </form>
                </div>
        </div>
    </div>
</div>






{% include 'User/foot2.html' %}