{% load static %}
{% include 'User/head.html' %}
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<h3 class="page-title"><b>Knowledge Base</b></h3>
					<div id="toastr-demo" class="panel">
						<div class="panel-body">
							<div class="col text-right mb-2">
								<a href="addknowledge" class="btn btn-light" ><i class="lnr lnr-plus-circle"></i></a>
							</div>

					
						</div>
					</div>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>


		{% include 'User/foot2.html' %}
